.Toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 30px;
  z-index: 90;
  nav {
    height: 100%;
    width: auto;
    display: block;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
    }
    a {
      text-decoration: none;
      color: white;
      margin-right: 1em;
      margin-left: 1em;
      font-weight: 700;
    }
  }
}

@media (max-width: 949px) {
  nav {
    display: none!important;
  }
}

@media (min-width: 950px) {
  ul {
    li:first-of-type{
      visibility: hidden;
    }
  }
}